<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unxavi.com.github.project404">

    <application
        android:name=".app.Project404App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.deleteMasterDetail.DeleteTimeLogListActivity"
            android:label="@string/title_deletetimelog_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.main.detail.WorkLogDetailActivity"
            android:label="@string/title_deletetimelog_detail"
            android:parentActivityName=".features.deleteMasterDetail.DeleteTimeLogListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unxavi.com.github.project404.features.deleteMasterDetail.DeleteTimeLogListActivity" />
        </activity>
        <activity
            android:name=".features.task.AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>